{% extends "layout.html" %}
{% block javascript %}
    <script>
        let sentimentJson = {{ series_post.sentiment | tojson }}

        const posArray = Object.values({{ pos_list }})
        const negArray = Object.values({{ neg_list }})
        const neuArray = Object.values({{ neu_list }})
        const dateArray = Object.values({{ date_list | tojson}})

        console.log(posArray)
        console.log(negArray)
        console.log(neuArray)
        console.log(dateArray)

    </script>

{% endblock %}

{% block content %}
{% if posts|length == 0 %}
    조회할 수 있는 일기가 없습니다. <br>
    날짜를 확인하고 다시 조회해주세요.<br>
{% else %}
    <div class="container-fluid d-flex flex-column">
        <h1 class="d-flex justify-content-center mt-5">{{ current_user.username }}님의 기간별 감정 추이</h1>

        <div class="d-flex justify-content-center">
            <div class="canvas d-flex justify-content-center m-3"> {# 캔버스 크기 조절이 안되서 이걸로 조절 #}
                <canvas class="mt-3 mb-3" id="line-chart"></canvas>
            </div>
        </div>
        <br><br><br>
        <h1 class="d-flex justify-content-center mt-5"><b>{{ posts | length }}개의 일기를 분석한 워드클라우드 입니다.</b></h1>
        <div class="d-flex justify-content-center mt-5 mb-5">
            <img src="{{ url_for('get_series_word_cloud_file', series_post_id=series_post.id) }}" alt="기간분석 워드클라우드"  class="img-fluid rounded mx-auto d-block" style="width: 600px;">
        </div>
        <br><br><br>
        <h1 class="d-flex justify-content-center mt-5"><b>{{ posts | length }}개의 일기를 분석한 감성 비율 입니다.</b></h1>

        <h2 class="d-flex justify-content-center mt-5">
            분석결과, &nbsp<span id="sentiment"> </span>이 가장 많은 감정이었습니다
        </h2>

        <div class="d-flex justify-content-center m-3" >
            <canvas class='report' id="doughnut-chart" width="500vw" height="500vh" style=" margin-top: 5%; margin-bottom: 5%;"></canvas><br><br>
        </div>

    </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
{% endif %}
{% endblock %}