{% extends "layout.html" %}
{% block content %}

    <div class="container mt-5">
        <h1>Your Sentiment Status</h1>
        {# 차트 #}
        <canvas class='report' id="bar-chart" width="500vw" height="500vh"></canvas><br><br>
        <canvas class='report' id="doughnut-chart" width="500vw" height="500vh"></canvas><br><br>
        <canvas class='report' id="radar-chart" width="500vw" height="500vh"></canvas><br><br>
        {# 워드클라우드 #}
        <img src="{{ url_for('get_file', filename=image_path) }}" alt="wordcloud" class="img-fluid rounded mx-auto d-block"><br><br>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script>
        // 'static/js/**.js' 파일에서 변수를 사용하기 위해서는 여기서 정의해둬야 한다.
        let userData = {{ user_data | tojson }}
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script>
{% endblock %}

