{% extends "layout.html" %}
{% block content %}
    <div class="content-section container-fluid">
        <div class="d-flex justify-content-center">

            {# 로그인상태의 홈화면 #}
            {% if current_user.is_authenticated %}
                <div class="col mt-5">
                    <h3 class="text-center h3 text-muted mb-3"> 내 다이어리 보기 </h3>
                    <a href="{{ url_for('my_diary') }}"><center><img src="{{ url_for('static', filename='images/open_diary.jpg') }}" style="width:1280px;height:720px;" class="img-fluid" alt=""></center></a>
                </div>

            {% else %}
            {# 시작화면 #}
                <div class="m-3" style="min-width: 500px">
                <form method="POST" action="" class="container-fluid">
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                    <legend class="border-bottom mb-4 mt-5">Log In</legend>
                            <div class="form-group">
                                {{ form.email.label(class="form-control-label")}}
                                {{ form.email(class="form-control form-control-lg")}}
                            </div>
                            <div class="form-group">
                                {{ form.password.label(class="form-control-label")}}
                                {{ form.password(class="form-control form-control-lg")}}
                            </div>
                            <div class="form-check">
                                {{ form.remember(class="form-check-input") }}
                                {{ form.remember.label(class="form-check-label") }}
                            </div>
                    </fieldset>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
            {#            <small class="text-muted ml-2">#}
            {#                <a href="{{ url_for('users.reset_request') }}">Forgot Password?</a>#}
            {#            </small>#}
                    </div>
                </form>
                </div>
            {% endif %}


        </div>
    </div>

{% endblock %}
