{% extends "layout.html" %}

{% block content %}
<link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <style>
        body {
            
            background-image: url('/static/images/ink_and_paper.png');
            background-repeat:no-repeat;
            background-size: cover;
        }
        .font {
            font-family: 'Gowun Dodum', sans-serif;
            font-size: 30px; 
            font-weight: 600;
            text-align: center;
            margin-top: 3%;
            
        }
        .media {
            margin-top: 5%;
            margin-bottom: 5%;
        }
        footer{
            position:absolute;
            bottom:10%;
            margin:0;
            padding:0;
            height:0%;
            display:block;
            width: 100%;
            text-decoration-color: black;
            font-weight: bold;
        }
        
    </style>
<div class="container mt-4 mb-3">
    <div class="row g-1">
        <h2 class="header-bar col">{{ current_user.username }} 님의 다이어리</h2>

        {# 업로드 링크 버튼 시작 #}
        <div class="col d-flex justify-content-end">
{#            <div class="me-3">#}
{#                <a class="btn btn-primary" href="" role="button">일기 입력하기</a>#}
{#            </div>#}
            <div class="">
                <a class="btn btn-primary" href="/upload" role="button">업로드하기</a>
            </div>
        </div>
        {# 업로드 링크 버튼 끝 #}
    </div>
</div>

{# 작성 게시글 목록 시작 #}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">글 번호</th>
            <!--<th scope="col">작성자</th>-->
            <th scope="col">작성일자</th>
            <th scope="col">상태</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts.items %}
            <tr>
                <th scope="row">{{ post.id }}</th>
                <!--<td>{{ post.author.username }}</td>-->
                {% if post.completed %}
                <td><a href="{{ url_for('analyze', post_id=post.id) }}" style="text-decoration:none";>{{ post.pub_date|datetime }}</a></td>
                <td style="color: #1e2125"> 분석 완료 </td>
                {% else %}
                <td>{{ post.pub_date|datetime }}</td>
                <td style="color: #6c757d"> 분석중... </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="pages">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a class="btn btn-info mb-4" href="">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('my_diary', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                페이지가 없습니다.
            {% endif %}
        {% endfor %}
    </div>
</div>
{#    작성 게시글 목록 끝 #}

<footer class="py-3 my-4" >
    <ul class="nav justify-content-center border-bottom pb-3 mb-3" >
      <li class="nav-item"><a href="https://github.com/GoodDonkey" class="nav-link px-2 text-muted" target='_blank'>Donkey</a></li>
      <li class="nav-item"><a href="https://github.com/metaego" class="nav-link px-2 text-muted" target='_blank'>Suyeon</a></li>
      <li class="nav-item"><a href="https://github.com/taeyoung0103" class="nav-link px-2 text-muted" target='_blank'>Taeyoung</a></li>
      <li class="nav-item"><a href="https://github.com/mechaniclib" class="nav-link px-2 text-muted" target='_blank'>Youngmin</a></li>
    </ul>
    <p class="text-center text-muted">© 2021 Team MindTree</p>
</footer>

{% endblock %}
