{% extends "layout.html" %}

{% block content %}
<div class="container mt-4 mb-3">
    <div class="row g-1">
        <h2 class="header-bar col">{{ current_user.username }} 님의 다이어리</h2>

        {# 업로드 링크 버튼 시작 #}
        <div class="col d-flex justify-content-end">
{#            <div class="me-3">#}
{#                <a class="btn btn-primary" href="" role="button">일기 입력하기</a>#}
{#            </div>#}
            <div class="">
                <a class="btn btn-primary" href="/upload" role="button">업로드하기</a>
            </div>
        </div>
        {# 업로드 링크 버튼 끝 #}
    </div>
</div>

{# 작성 게시글 목록 시작 #}
<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">글 번호</th>
            <th scope="col">작성일자</th>
            <th scope="col">상태</th>
            <th scope="col">감정비율</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts.items %}
            <tr>
                <th scope="row">{{ post.id }}</th>
                {% if post.completed %}
                    <td><a href="{{ url_for('analyze', post_id=post.id) }}">{{ post.pub_date|datetime }}</a></td>
                    <td style="color: #1e2125"> 분석 완료 </td>
                    <td><img src="static/images/lightOn.png" alt="감정비율"></td>{# stacked bar chart가 들어갈 자리#}
                {% else %}
                    <td>{{ post.pub_date|datetime }}</td>
                    <td style="color: #6c757d"> 분석중... </td>
                    <td style="color: #6c757d"> 분석중... </td>
                {% endif %}
                    
                        

            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="pages">
        {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=2, right_current=2) %}
            {% if page_num %}
                {% if posts.page == page_num %}
                    <a class="btn btn-info mb-4" href="">{{ page_num }}</a>
                {% else %}
                    <a class="btn btn-outline-info mb-4" href="{{ url_for('my_diary', page=page_num) }}">{{ page_num }}</a>
                {% endif %}
            {% else %}
                페이지가 없습니다.
            {% endif %}
        {% endfor %}
    </div>
</div>
{#    작성 게시글 목록 끝 #}

{% endblock %}
