{% extends "layout.html" %}
{% block content %}
    <div class="container">
    <header class="header">
        <h2 class="header-center mt-4"> 업로드 하기 </h2>
    </header>
    </div>

{# 업로드 form 시작 #}
    <div class="container">
        <form class="container" action="{{ url_for('upload_file')}}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="file01" class="form-label" style="margin:1%;">FILE:</label>
                <input type="file" name="file" id= "file01" class="form-control" required><br><br>
            </div>
                <button type="submit" class="btn btn-primary">업로드</button>
        </form>
    </div>
{# 업로드 form 끝 #}

{% endblock %}
