alembic==1.7.4
Babel==2.9.1
bcrypt==3.2.0
beautifulsoup4==4.6.0
blinker==1.4
cachetools==4.2.4
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.1
colorama==0.4.4
cycler==0.10.0
dlib==19.22.0
dnspython==2.1.0
email-validator==1.1.3
Flask==2.0.1
Flask-Babel==2.0.0
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
google==3.0.0
google-api-core==2.1.1
google-auth==2.3.0
google-cloud-vision==2.5.0
googleapis-common-protos==1.53.0
greenlet==1.1.1
grpcio==1.41.0
idna==3.3
importlib-metadata==4.8.1
importlib-resources==5.3.0
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.1.0
JPype1==1.3.0
kiwisolver==1.3.2
konlpy==0.5.2
lxml==4.6.3
Mako==1.1.5
MarkupSafe==2.0.1
matplotlib==3.4.3
numpy==1.21.3
oauthlib==3.1.1
opencv-python==4.5.4.58
packaging==21.0
Pillow==8.3.2
pip==21.2.4
proto-plus==1.19.5
protobuf==3.18.1
psutil==5.8.0
py-hanspell==1.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.8.2
pytz==2021.3
requests==2.26.0
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-learn==1.0
scipy==1.7.1
setuptools==58.0.4
six==1.16.0
soupsieve==2.2.1
soylemma==0.2.0
soynlp==0.0.493
SQLAlchemy==1.4.22
threadpoolctl==3.0.0
tweepy==3.10.0
urllib3==1.26.7
Werkzeug==2.0.1
wheel==0.37.0
wordcloud==1.8.1
WTForms==2.3.3
zipp==3.6.0
pandas==1.3.4