.header-center {
    text-align: center;
    width: 100%;
}

.container {
    width: 100%;
    text-align: center;
}

.alert-success {
    padding: 12px;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-bottom: 16px;
    border-width: 2px;
    border-style: solid;
}

.alert-error {
    padding: 12px;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-bottom: 16px;
    border: 2px solid darkred;
    background-color: red;
    color: white;
}

.alert-info {
    padding: 12px;
    border-radius: 3px;
    font-size: 1.2rem;
    margin-bottom: 16px;
    border: 2px solid orange;
    background-color: yellow;
    color: black;
}