<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./static/css/style.css">
    <title>MindTree</title>
</head>
<body>

<div class='report'>
    <h1>Results</h1><br>
    <canvas class='report' id="bar-chart" width="500vw" height="500vh"></canvas><br><br>
    <canvas class='report' id="doughnut-chart" width="500vw" height="500vh"></canvas><br><br>
    <canvas class='report' id="radar-chart" width="500vw" height="500vh"></canvas><br><br>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
<script type="text/javascript" src="\MindTree\static\js\script.js"></script>
<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/script.js')}}"></script> -->

</body>
</html>
