<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style2.css">

    <title>Document</title>
</head>
<body>

    <h2 class="header-center">내 다이어리</h2>

<!--    이 flash 메시지는 css 작업하면 예쁘다. -->
    {% with messages = get_flashed_messages(with_categories = true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert-{{ category }} container">
                {{ message }}
            </div>
            {% endfor %}
        {% endif%}
    {% endwith %}


<!--   일기가 추가될때마다 추가된 일기가 반영된 일기 목록을 보여주려면
    DB가 구축되어야 함. -->
    <div class="container" style="background-color: powderblue">
        <form class="container" action="/analyze" method="post" enctype="multipart/form-data">
            <p>- 아이디를 직접 써서 결과를 확인하세요 <br>
            (로그인 기능이 구현되면 로그인 정보로 처리할 예정)</p>
            id: <input type="text" name="id"><br><br>
            <input type="submit" value="분석결과 확인하기" >
        </form>
    </div><br>
    <a href="/upload">업로드하기</a>

</body>
</html>