<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../static/css/style2.css">

    <title>Document</title>
</head>

<body>
    <header class="headerbox">
        <h2 class="header-center"> 업로드 하기 </h2>
    </header>

    <div class="container" style="background-color: antiquewhite">
        <form class="container" action="/upload_file" method="post" enctype="multipart/form-data">
            <p>- 아이디를 직접 써서 결과를 확인하세요 <br>
                (로그인 기능이 구현되면 로그인 정보로 처리할 예정)</p>
            id: <input type="text" name="id"><br><br>
            file: <input type="file" name="file"><br><br>
            <input type="submit">
        </form>
    </div>
</body>
</html>